<div class="well bs-component">
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Sort Code</th>
            <th>Account Number</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Glenn Sayers</td>
            <td>98016</td>
            <td>12345678</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Luke McNeice</td>
            <td>73476</td>
            <td>49287567</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Steven Cochrane</td>
            <td>88364</td>
            <td>36547858</td>
        </tr>
        <tr>
            <td>4</td>
            <td>John Farenden</td>
            <td>66554</td>
            <td>76576433</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Ryan Beckett</td>
            <td>66634</td>
            <td>12312453</td>
        </tr>
        </tbody>
    </table>
</div>

