@(twillioAuthToken: String)

@main("Welcome to Anytime Banking") {
    <style>
    * {
    box-sizing: border-box;
    }
    .header-panel {
    background-color: #009587;
    height: 144px;
    position: relative;
    z-index: 3;
    }
    .header-panel div {
    position: relative;
    height: 100%;
    }
    .header-panel h1 {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    bottom: 10px;
    padding-left: 35px;
    }

    .menu {
    overflow: auto;
    padding: 0;
    }
    .menu, .menu * {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }
    .menu ul {
    padding: 0;
    margin: 7px 0;
    }
    .menu ul li {
    list-style: none;
    padding: 20px 0 20px 50px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    }
    .menu ul li.active {
    background-color: #dedede;
    position: relative;
    }
    .menu ul li a {
    color: rgb(51, 51, 51);
    text-decoration: none;
    }

    .pages {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 0;
    overflow: auto;
    }
    .pages > div {
    padding: 0 5px;
    padding-top: 64px;
    }

    .pages .header {
    color: rgb(82, 101, 162);
    font-size: 24px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 60px;
    letter-spacing: 1.20000004768372px;
    }

    .page {
    transform: translateY(1080px);
    transition: transform 0 linear;
    display: none;
    opacity: 0;
    font-size: 16px;
    }

    .page.active {
    transform: translateY(0px);
    transition: all 0.3s ease-out;
    display: block;
    opacity: 1;
    }

    #opensource {
    color: rgba(0, 0, 0, 0.62);
    position: fixed;
    margin-top: 50px;
    margin-left: 50px;
    z-index: 100;
    }

    #source-modal h4 {
    color: black;
    }
    .arrow_box {
    position: relative;
    background: ##fff;
    border: 0px solid #002A66;
    margin-top: 1em;
    }
    .arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    }

    .arrow_box:after {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: ##fff;
    border-width: 10px;
    margin-left: -10px;
    }
    .arrow_box:before {
    border-color: rgba(0, 42, 102, 0);
    border-bottom-color: #002A66;
    border-width: 11px;
    margin-left: -11px;
    }
    </style>
    <script type="text/javascript"
    src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
    <script type="text/javascript">

    /* Create the Client with a Capability Token */
    /* Create the Client with a Capability Token */
    Twilio.Device.setup("@twillioAuthToken", {debug: true});

    Twilio.Device.ready(function (device) {
        $("#log").text("Client '${clientName}' is ready");
    });

    /* Report any errors on the screen */
    Twilio.Device.error(function (error) {
    $("#log").text("Error: " + error.message);
    });

    Twilio.Device.connect(function (conn) {
    $("#log").text("Successfully established call");
    });

    Twilio.Device.disconnect(function (conn) {
      // Called for all new connections
      callWaiting();
    });

    Twilio.Device.incoming(function (conn) {
        document.getElementById("callAlert" ).style.display = "block";
        $("#callAlert").html("Incoming call");
        setInterval(function(){
            conn.accept();
            showPayments();

            $("#callAlert").html("Call answered");
        }, 5000);
    });
    </script>
    <div class="row">
        <nav id="navbar" class="col-xs-2 menu" style="height: 200px;" >
            <ul>
                <li class="withripple" id="accountInfoTab" onclick="showAccountInfo()">Account Info</li>
                <!-- <li class="withripple" id="paymentsTab" onclick="showPayments()">Payments</li> -->
                <li class="withripple" id="transactionsTab" onclick="showTransactions()">Transactions</li>
            </ul>
        </nav>
        <div class="col-lg-9">
            <div class="well bs-component">

              <form class="form-horizontal" id="idle">
                <fieldset>
                  <h1>Waiting on a call.....</h1>
                </fieldset>
              </form>
                <form class="form-horizontal" id="accountInfo" style="display: none;">
                    <fieldset>

                        <legend>Account Info</legend>

                        <div class="form-group">
                            <label for="username" class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                                <label class="form-control" id="username"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 control-label">Account Type</label>
                            <div class="col-lg-10">
                                <label class="form-control" id="accountType"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 control-label">Account Number</label>
                            <div class="col-lg-10">
                                <label class="form-control" id="accountNumber"></label>
                            </div>
                        </div>

                    </fieldset>
                </form>
                <form class="form-horizontal" id="recentTransactions" style="display: none;">
                    <ul class="breadcrumb" style="margin-bottom: 25px; padding-left : 0px;
                    background-color: white;">
                        <span style="margin-right:1em;">Customers  Journey:</span>
                        <li><a href="javascript:void(0)">Login</a></li>
                        <li><a href="javascript:void(0)">Details</a></li>
                        <li><a href="javascript:void(0)">Payments</a></li>
                        <li><a href="javascript:void(0)">Send Payment</a></li>
                        <li class="active">Called Support</li>
                        <div class="arrow_box">
                            <div class="well bs-component">
                                <form class="form-horizontal" id="accountInfo">
                                    <fieldset>

                                        <legend>Last Session</legend>

                                        <div class="form-group">
                                            <label for="inputEmail" class="col-lg-2 control-label">Name</label>
                                            <div class="col-lg-10">
                                                <label class="form-control" id="accountNumber" placeholder="Name"><span class="material-input">Mary Black</span></label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword" class="col-lg-2 control-label">Acc. Number</label>
                                            <div class="col-lg-10">
                                                <label type="text" class="form-control" id="accountNumber">1234567</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword" class="col-lg-2 control-label">Sort Code</label>
                                            <div class="col-lg-10">
                                                <label type="text" class="form-control" id="accountNumber">12-43-13</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword" class="col-lg-2 control-label">Amount</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">£</span>
                                                <label type="number" class="form-control">50.00</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </ul>
                <!-- <form class="form-horizontal" id="payments" style="display: none;">
                  <fieldset>
                    <legend>Payments</legend>
                  </fieldset>
                </form> -->
                <form class="form-horizontal" id="transactions" style="display: none;">
                  <fieldset>
                    <legend>Recent Transactions</legend>
                  </fieldset>
                </form>
            </div>

            <div id="callAlert" class="alert alert-dismissable alert-success" style="position: fixed;
            bottom: 0px;
            width: 75%;
            display:none;">
                Incoming call
            </div>
        </div>

        <div class="col-lg-3">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-lg-10">&nbsp;</div>
        <div class="col-lg-2">
        </div>
    </div>
    <script>

    openBankUlsterDomain = 'https://ulsterbank.openbankproject.com/';
    apiVer = 'obp/v1.2.1/';
    accountsResource = 'banks/ulster-ni/accounts/';
    account = 'current8/'
    transactions = 'owner/transactions'

    apiOwnerTransactions = openBankUlsterDomain + apiVer + accountsResource +
      account + transactions;

    $(function() {

      $('#navbar').css('visibility','hidden');
      $.getJSON( apiOwnerTransactions, function( data ) {
        var items = [];
        var txns = data['transactions'];
        var account = txns[0]['this_account'];

        $('#username').text(account['holders'][0]['name']);
        $('#accountType').text(account['kind']);
        $('#accountNumber').text(account['number']);

        var i = 0
        var txnDetails = null;
        var merchant = null;
        $.each( txns, function( key, val ) {
          txnDetails = val['details'];
          merchant = val['other_account']['holder']['name'];

          $('#recentTransactions').append(

            '<div class="well bs-component"><form class="form-horizontal"><fieldset>'+

            '<div class="form-group"><label for="rTxnMerchant'+ i +
            '" class="col-lg-2 control-label">Merchant</label><div class="col-lg-10"><label class="form-control" id="rTxnMerchant'+ i +
            '">'+merchant+'</label></div></div><div class="form-group"><label for="rTxnType' + i +
            '" class="col-lg-2 control-label">Transaction Type</label><div class="col-lg-10"><label class="form-control" id="rTxnType' + i +
            '">'+txnDetails['type']+'</label></div></div><div class="form-group"><label for="rTxnAmount' + i +
            '" class="col-lg-2 control-label">Amount</label><div class="col-lg-10"><label class="form-control" id="rTxnAmount' + i +
            '">'+Math.abs(txnDetails['value']['amount'])+'</label></div></div>'+

            '</fieldset></form></div>'
          );
          i++;
        });
        $( "<ul/>", {
          "class": "my-new-list",
          html: items.join( "" )
        }).appendTo( "body" );
      });
    });

    function callWaiting() {
      document.getElementById("accountInfo" ).style.display = "none";
      document.getElementById("recentTransactions").style.display = "none";
      // document.getElementById("payments" ).style.display = "none";
      $('#accountInfoTab').removeClass("active");
      $('#transactionsTab').removeClass("active");
      // $('#paymentsTab').removeClass("active");
    }
    function showAccountInfo() {
        document.getElementById("accountInfo" ).style.display = "block";
        document.getElementById("recentTransactions" ).style.display = "none";
        // document.getElementById("payments" ).style.display = "none";
        document.getElementById("idle").style.display = "none";
        $('#accountInfoTab').addClass("active");
        $('#transactionsTab').removeClass("active");
        // $('#paymentsTab').removeClass("active");
    }
    function showTransactions() {
        document.getElementById("accountInfo" ).style.display = "none";
        document.getElementById("recentTransactions" ).style.display = "block";
        // document.getElementById("payments" ).style.display = "none";
        document.getElementById("idle").style.display = "none";
        $('#accountInfoTab').removeClass("active");
        $('#transactionsTab').addClass("active");
        // $('#paymentsTab').removeClass("active");
    }
    // function showPayments() {
    //   $('#navbar').css('visibility','visible');
    //   document.getElementById("accountInfo" ).style.display = "none";
    //   document.getElementById("transactions" ).style.display = "none";
    //   document.getElementById("payments" ).style.display = "block";
    //   document.getElementById("idle").style.display = "none";
    //   $('#accountInfoTab').removeClass("active");
    //   $('#transactionsTab').addClass("active");
    //   $('#paymentsTab').removeClass("active");
    // }
    </script>
}
